<!-- <p>{{type}}</p>
<input
  name = "input"
  #inputbox
  data-testid = "email"
  [placeholder] = "gettext"
  [type] = "gettype"
  (keyup)="onKey(inputbox.value)"
  >
<p>{{getinputvalue}}</p>
<p>error:{{getmessage}}</p> -->
<app-loginbox #inputbox [cleanbox]="cleanvalue"></app-loginbox>

<app-button
  #button1
  data-testid = "button1"
  (click)="onLock()"
  [size]="size1"
  [label]="label1"
  >
</app-button>
<app-button
  #button2
  data-testid = "button2"
  (click)="onClean()"
  [size]="size2"
  [primary]="primary"
  [label]="label2"
  >
</app-button>
