<div>work!</div>
<div class="nui-icon" [ngClass]="classes" [ngSwitch]="badge">
    <div *ngSwitchCase="'premium'" class="icon-badge {{ badge }}">Pro</div>
    <div *ngSwitchCase="'new'" class="icon-badge {{ badge }}">new</div>
    <div *ngSwitchCase="'beta'" class="icon-badge {{ badge }}">BETA</div>
    <ng-container *ngSwitchCase="'text-label'">
        <div class="icon-labels">
            <ng-container *ngFor="let element of labels; let index = index">
                <div
                    *ngIf="element.text"
                    class="icon-badge {{ badge }} text {{ isHideItem(index) ? 'hide' : '' }}"
                    [ngClass]="{
                        activate: element.type === 'activate',
                        deactivate: element.type === 'deactivate',
                        default: element.type === 'default',
                        nostyle: element.type === 'nostyle',
                        setting: element.type === 'setting'
                    }"
                >
                    {{ element.text }} <span class="subtext" *ngIf="element.subtext">{{ element.subtext }}</span>
                </div>
            </ng-container>
            <a
                class="icon-item cursor-pointer"
                (click)="switchIconItem($event)"
                *ngIf="numberVisibleChips && numberVisibleChips < labels.length"
            >
                <span class="display-text">{{ iconItem.text }}&nbsp;</span><img src="{{ iconItem.src }}" />
            </a>
        </div>
    </ng-container>

    <img *ngSwitchDefault class="icon-img" [src]="src" />
</div>
