

$activate-color: #508b0d;
$deactivate-color: #ee4540;
$new-color: #ff8900;
$premium-color: #999999;
$beta-color: #508b0d;
$default-color: #777777;

$basic-size: 1rem;

.nui-icon {
    position: relative;
    display: inline-block;
    margin: 0 0.25rem;

    .icon-labels {
        .hide {
            display: none;
        }

        .display-text {
            color: $default-color;

            &:hover {
                text-decoration: underline;
            }
        }

        .icon-item {
            overflow: hidden;
            height: 1rem;

            img {
                vertical-align: middle;
                width: 0.75rem;
            }
        }
    }
}

.small {
    .icon-img {
        width: $basic-size * 1;
    }

    .icon-badge {
        font-size: $basic-size * 1;
    }
}

.middle {
    .icon-img {
        width: $basic-size * 2;
    }

    .icon-badge {
        font-size: $basic-size * 2;
    }
}

.large {
    .icon-img {
        width: $basic-size * 4;
    }

    .icon-badge {
        font-size: $basic-size * 4;
    }
}
